body {
    background-color: #fbd3a5;
}

.container-fluid {
    padding-bottom: 5em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .5em;
    background-color: #343A40;
    color: white;
}

/*.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}*/

.game_title {
    font-size: 24pt;
    text-align: center;
}

.padding {
    padding: 10px;
}

.hangman_box {
    border-width: 3px;
    border-style: solid;
    border-color: #343A40;
    border-radius: 3px;
    background-color: #fdeddb;
    padding: 5px;
    min-height: 400px;
}

.guessed_letter_box {
    border-width: 3px;
    border-style: solid;
    border-color: #343A40;
    border-radius: 3px;
    background-color: #fdeddb;
    padding: 5px;
    min-height: 250px;
}

.box_title {
    font-size: 18pt;
    /*color: #f7931e;*/
    padding-left: 10px;
    text-align: center;
}

.align_text_input {
    text-align: center;
    padding-top: 20px;
}

.teacher_input_box {
   border-width: 3px;
   border-style: solid;
   border-color: #343A40;
   border-radius: 3px;
   background-color: #fdeddb;
   padding: 5px;
   min-height: 250px;
   width: 100%;
   text-align: center;
}

.fill_in_blank_sentence {
    border-width: 3px;
    border-style: solid;
    border-color: #343A40;
    border-radius: 3px;
    background-color: #fdeddb;
    text-align: center;
    padding: 10px;
}
